@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior:smooth;
}

section{
    padding: 5% 10%;
}

.main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(imgs/bg1.jpg)no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
}

.main .content{
    max-width: 800px;
}

.main .content h2{
    color: #fff;
    font-size: 2em;
    font-weight: 500;
    overflow: hidden;
}

.main .content h2 span{
    font-size: 2em;
    font-weight: 600;
}
/* carrossel slide vertical */

.animation-text{
    margin-top: 50px;
    position: relative;
    height: 70px;
    overflow: hidden;
}

.animation-text h3{
    color:#4e9eff;
    font-size: 3em;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 1px;
}

.animation-text h3:nth-child(1){
    animation: text-move 15s infinite;
}
@keyframes text-move{
0%{
    margin-top: 0;
    }
7%{
    margin-top: -70px;
    }
14%{
    margin-top: -140px;
    }
21%{
    margin-top: -210px;
    }
28%{
    margin-top: -280px;
    }
35%{
    margin-top: -340px;
    }
42.5%{
    margin-top: -410px;
    }
50%{
    margin-top: -480px;
    }
57.5%{
    margin-top: -410px;
    }
63%{
    margin-top: -340px;
    }
70%{
    margin-top: -280px;
    }
77%{
    margin-top: -210px;
    }
83%{
    margin-top: -140px;
    }
90%{
    margin-top: -70px;
    }
100%{
    margin-top: 0;
    }
}

/* botão currículo */

.btn{
    color:#fff;
    background: #3a6cf4;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 2px;
    margin-top: 100px;
    transition: 0.3s ease;
}

.btn:hover {
    background: #3b02a3;
}

/* redes sociais icones */

.media-icons{
    margin-top:25px;
    margin-left:15px;
}

.media-icons a{
    color:#fff;
    font-size: 40px;
    margin-right: 20px;
    transition: all 0.3s ease-in-out;
}
.media-icons a:hover:nth-child(1){
    color: #3b5998;
    font-size:45px;  
}
.media-icons a:hover:nth-child(2){
    color: #fd5949;
    font-size:45px;  
}
.media-icons a:hover:nth-child(3){
    color: #333;
    font-size:45px;  
}
.media-icons a:hover:nth-child(4){
    color: #3366ff;
    font-size:45px;  
}

/* header menu */
header{
    z-index: 999;
    position: fixed;
    background:  rgba(255, 255, 255, 0.1);
    top:0;
    left:0;
    width: 100%;
    padding: 15px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease;
}

header.sticky{
    background: #3a6cf4;
    padding: 10px 200px;
}

header .brand{
    color:#fff;
    font-size: 1.8em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

header .navigation{
    position: relative;
}

header .navigation a{
    color:#fff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
}

header .navigation a:hover{
    color:#3a6cf4;
}

body{
    min-height: 120vh;
}

header.sticky .navigation a:hover{
    color:#000;
}

/* título das paginas */

.title{
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.section-title{
    position: relative;
    color:#3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    text-align: center;
    
}

.section-title:before{
    content: '';
    position: absolute;
    top: 56px;
    left: 50%;
    width: 140px;
    height: 4px;
    background: #3a6cf4;
    transform:translate(-50%);
}

.section-title:after{
    content: "";
    position: absolute;
    top:50px;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #3a6cf4;
    transform: translate(-50%);
}

/* sobre mim */

.about .content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}

.about .content .col-left{
    position: relative;
    width: 45%;
}

.about .content .col-right{
    position: relative;
    width: 50%;
}

/* imagem sobre mim */

.about .content .col-left .img-card{
    position: relative;
    width: 100%;
    min-height: 100vh;
    
}
.about .content .col-left img{
    margin-top: 10%;
}

.about .content .col-left .img-card img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 10px;
}

/* texto sobre mim */

.about .content .col-right .content-title{
    font-size: 1.5em;
    font-weight: 800;
    margin-bottom: 20px;
    text-align: center;
}

.about .content .col-right .paragrafo-text{
    font-size: 1.1em;
    text-align: justify;
}

/* botão abrir currículo  e pdf currículo*/

.about .btn{
 margin-top: 25px;
}

div .curriculo {
    display: block;
    border: none;
    margin-top: 25px;
}
.curriculo-pag3{
    height: 100vh;
}


/* minhas qualificações */

.skills{
  
    background: #000;
}

.skills .content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-top: 20px;
}

.skills .content-title{
    font-size: 1.7em;
    text-align: center;
    padding: 20px;
}

.skills .content p{
    font-size: 1.2em;
    text-align: justify;
}

.skills .content .col-left{
    position: relative;
    width: 40%;
}

.skills .content .col-left .btn{
    position: relative;
    margin-top: 50px;
}

/* minhas habilidades barra de porcentagem */

.skills .content .col-right{
    position: relative;
    width: 40%;
}

.skills .content .col-right .bar{
    margin-bottom: 15px;
    padding: 10px;
}

.skills .content .col-right .bar .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.skills .content .col-right .bar .info span{
    font-size: 18px;
    font-weight: 500;
}

.skills .content .col-right .bar .line{
    position: relative;
    width: 100%;
    height: 10px;
    background: #ccc;
    border-radius: 5px;
}

.skills .content .col-right .bar .line:before{
    content: "";
    position: absolute;
    height: 100%;
    top:0;
    left:0;
    border-radius: 2px;
}

.skills .content .col-right .bar .html:before{
    width: 65%;
    background: #ff6347;
    border-radius: 60px;
}

.skills .content .col-right .bar .css:before{
    width: 55%;
    background: #2aa9e0;
    border-radius: 60px;
}

.skills .content .col-right .bar .javascript:before{
    width: 40%;
    background: #f7e018;
    border-radius: 60px;
}

.skills .content .col-right .bar .reactjs:before{
    width: 25%;
    background:  #4ad5fe;
    border-radius: 60px;
}

.skills .content .col-right .bar .mysql:before{
    width: 30%;
    background: #e48d00;
    border-radius: 60px;
}

.skills .content .col-right .bar .github:before{
    width: 60%;
    background: #f05133;
    border-radius: 60px;
}

.skills .content .col-right .bar .jquery:before{
    width: 25%;
    background: #0868ab;
    border-radius: 60px;
}


/*MINHAS TECNOLOGIAS*/


.carrossel{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: -120px;
    align-items: center;    
}

.carrossel span {
    width: 40%;
    height: 460px;
    background-color: #eee;
    padding:25px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
   
}

.carrossel span h3 {
    font-size: 1.7em;
    text-align: center;
    margin: 3% 0;
}
.carrossel span p {
    font-size: 1.3em;
    margin-bottom: 3%;
}

.slider{
    border-radius: 10px;
    margin: 0px auto 0px 0px;
    width: 45%;
    height: 460px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.2) ;
    overflow: hidden;
    background-color:rgba(205,205,205,0.2);
}

.slide{
    width: 40%;   
}

.conteudo{
    display: flex;
    flex-direction: row;
    margin-top: 50px auto;
    width: 700%;
    height: 400px;
    transition: ease-in-out 1.5s;
}

.carrossel .card{
    text-align: center;
    position: relative;
    background: #eee;
    width: 100%;
    margin: 10px 10px 0px 10px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.card:hover{
    background-color: #e9f1ee;
    border-radius: 10px;
}

.carrossel .conteudo .card .service-icon{
    color: #3a6cf4;
    font-size: 7em;
    text-align: center;
    transition: transform 0.5s ease;
}

.carrossel .conteudo .card:hover .service-icon{
    transform: translateY(-10px);
}

.carrossel .conteudo .card .info{
    text-align: center;
}

.text  h3{
    text-align: center;
    color: #3a6cf4;
    font-size: 2em;
    font-weight: 700;
    margin: 10px;
}

.text p{
    font-size: 1.2em;
    font-weight: 500;
    display: block;
}


.slides input{
    align-items: center;
    justify-content: center;
    display: none;
}

.navigation-manual{
    position: relative;
    display: flex;
    justify-content: center;
    width: 300px;
    top: -15px;
    margin: auto;
    cursor: pointer;
}

.manual-btn{
    border: 2px solid #40d3dc;
    padding: 10px;
    border-radius: 20px ;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn:not(:last-child){
    margin-right: 20px;
}

.manual-btn:hover{
    background-color: #40d3dc;
    transition: 0.5s;
}

#radio1:checked ~ .first {
    margin-left: 0%;
}

#radio2:checked ~ .first {
    margin-left: -100%;
}

#radio3:checked ~ .first {
    margin-left: -200%;
}

#radio4:checked ~ .first {
    margin-left: -300%;
}

#radio5:checked ~ .first {
    margin-left: -400%;
}

#radio6:checked ~ .first {
    margin-left: -500%;
}

#radio7:checked ~ .first {
    margin-left: -600%;
}

.navigation-auto{
    position: relative;
    display: flex;
    justify-content: center;
    width: 300px;
    top: 10px;
    margin: auto;
}

.navigation-auto div {
    border: 2px solid transparent;
    padding: 10px;
    border-radius: 20px;
    transition: 0.5s;
}

.navigation-auto div:not(:last-child){
    margin-right: 20px;
}

#radio1:checked ~.navigation-auto .auto-btn1{
    background-color: #40d3dc;
}

#radio2:checked ~.navigation-auto .auto-btn2{
    background-color: #40d3dc;
}

#radio3:checked ~.navigation-auto .auto-btn3{
    background-color: #40d3dc;
}

#radio4:checked ~.navigation-auto .auto-btn4{
    background-color: #40d3dc;
}

#radio5:checked ~.navigation-auto .auto-btn5{
    background-color: #40d3dc;
}
#radio6:checked ~.navigation-auto .auto-btn6{
    background-color: #40d3dc;
}
#radio7:checked ~.navigation-auto .auto-btn7{
    background-color: #40d3dc;
}


/*IMAGENS FUTURAS*/

.work{
    background: #000016;
}

.work .content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
}

.work .content .card{
    width: 340px;
    margin: 15px;
}

.work .content .card .card-img{
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 20px;
}

.work .content .card .card-img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.5s ease;
}

.work .content .card .card-img img:hover{
    transform: scale(1.2);
}

.work .btn{
    margin-top: 10px;
}

/* meus contatos */
/* 
.contact .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
} */

.contact .content .row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
    
}

.contact .content .row .card{
    background: #fff;
    width: 240px;
    margin: 10px;
    padding: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
}

.contact .content .row .card .contact-icon{
    color: #3a6cf4;
    font-size: 4em;
    text-align: center;
    transition: transform 0.5s ease;
}

.contact .content .row .card:hover .contact-icon{
    transform: translateY(-10px);
}

.contact .content .row .card .info{
    text-align: center;
}

.contact .content .row .card .info h3{
    color: #111;
    font-size: 1em;
    font-weight: 700;
    
}

.contact .content .row .card .info span{
    color: #666;
    font-weight: 500;
}

.contact .content .row .card .info span a{
    color: #666;
    font-weight: 500;
    text-decoration: none;
}

.contact .content .row .card .info span a:hover{
    color: #aaa; 
}

.contact-form{
    background: #fff;
    max-width: 550px;
    margin-top: 50px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
}

.contact-form h3{
    color: #111;
    font-size: 1.6em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}

.contact-form .input-box{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.contact-form .input-box input, .contact-form .input-box textarea{
    color: #111;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    font-weight: 400;
    outline: none;
    border: 1px solid #111;
    border-radius: 5px;
}

.contact-form .input-box .send-btn{
    color: #fff;
    background: #3a6cf4;
    display: inline-block;
    font-size: 1.1em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    border:none;
    cursor: pointer;
    transition: 05 ease;
}

.contact-form .input-box .send-btn:hover{
    background: #235bf6;
}

.footer{
    background: #f1f1f1;
    text-align: center;
    padding: 1em;
}

.footer .footer-title{
        font-size: 20px;
        font-weight: 600;
}

.footer p{
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
}

.footer p a{
    color: #3a6cf4;
    font-weight: 600;
    text-decoration: none;
}

@media(max-width:1290px){
header{
    padding: 12px 20px;
}

header.sticky{
    padding: 10px 20px;
}

header .navigation{
    display: none;
}

header .navigation.active{
    z-index: 888;
    position: fixed;
    background: #fff;
    top: 0;
    right: 0;
    width: 380px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow:  0 5px 25px rgba(1 1 1 / 15%);
    transition: 0.3s ease;
}

header .navigation a{
    color: #000;
    font-size: 1.2em;
    padding: 0 20px;
    border-radius: 20px;
    margin: 10px;
}

header .navigation a:hover{
    color: #fff;
    background: #3a6cf4;
    transition: 0.3s ease;
}

.menu-btn{

    position: absolute;
    background: url(imgs/btn.png)no-repeat;
    background-size: 30px;
    background-position:center;
    width: 40px;
    height: 40px;
    right: 0;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.3s ease;
    filter: invert(1);
}

.menu-btn.active{
    z-index: 999;
    background: url(imgs/close.png)no-repeat;
    background-size: 30px;
    background-position:center;
    width: 40px;
    height: 40px;
    right: 0;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.3s ease;
    filter: invert(0);
}

section{
    padding: 80px 20px;
}

.main .content h2{
    font-size: 1em;
}

.animated-text h3{
    font-size: 2.2em;
}

.section-title{
    font-size: 1.8em ;
}

.about .content{
    flex-direction: column;
}

.about .content .column{
    position: relative;
    width: 100%;
}

.about .content .col-right{
    margin-top: 40px;
}

.skills .content{
    flex-direction: column;
}

.skills .content .column{
    position: relative;
    width: 100%;
}

.skills .content .col-right{
    margin-top: 40px;
}

.contact-form{
    padding: 35px 40px;
    }
}

.scrollToTop-btn{
    z-index: 999;
    position: fixed;
    background: #3a6cf4;
    color:#fff;
    width: 45px;
    height: 45px;
    right: 0;
    bottom: 10px;
    font-size: 22px;
    text-align: center;
    line-height: 45px;
    border-radius: 3px;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s ease;
}

.scrollToTop-btn.active{
    right: 20px;
    opacity: 1;
    pointer-events: auto;
}

#email{
    font-size: 14px;
    margin-left: -15px;
}
    /*
.reveal{
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1.5s ease;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
} */

/* Configuração da pagina dois*/


