@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior:smooth;
}

section{
    padding: 100px 200px;
}

.main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(imgs/bg1.jpg)no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
}
.main .content{
    max-width: 800px;
}
.main .content h2{
    color: #fff;
    font-size: 2em;
    font-weight: 500;
    overflow: hidden;

}
.main .content h2 span{
    font-size: 2em;
    font-weight: 600;
}
.animation-text{
position: relative;
height: 70px;
overflow: hidden;
}

.animation-text h3{
    color:#4e9eff;
    font-size: 3em;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 1px;
}
.animation-text h3:nth-child(1){
    animation: text-move 10s infinite;

}
@keyframes text-move{
0%{
    margin-top: 0;
    }
15%{
    margin-top: -70px;
    }
30%{
    margin-top: -140px;
    }
45%{
    margin-top: -210px;
    }
60%{
    margin-top: -280px;
    }
70%{
    margin-top: -210px;
    }
80%{
    margin-top: -140px;
    }
90%{
    margin-top: -70px;
    }
100%{
    margin-top: 0;
    }
}
.btn{
  color:#fff;
  background: #3a6cf4;  
  font-size: 1em;
  font-weight: 600;
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 2px;
  margin-top: 100px;
  transition: 0.5s ease;
} 
.btn:hover{
    background: #235bf6;
}
 
.media-icons{
    margin-top:30px;
    
    
}

.media-icons a{
    color:#fff;
    font-size: 40px;
    margin-right: 20px;
}
header{
    z-index: 999;
    position: fixed;
    background:  rgba(255, 255, 255, 0.1);
    top:0;
    left:0;
    width: 100%;
    padding: 15px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease;

}
header.sticky{
  background: #3a6cf4; 
  padding: 10px 200px; 
}
header .brand{
    color:#fff;
    font-size: 1.8em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    
}
header .navigation{
    position: relative;
    
}
header .navigation a{
    color:#fff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
}
header .navigation a:hover{
    color:#3a6cf4;
    
}
body{
    min-height: 120vh;
}
header.sticky .navigation a:hover{
    color:#000;
}
.title{
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
.section-title{
    position: relative;
    color:#3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 60px;
    text-align: center;
}

.section-title:before{
    content: '';
    position: absolute;
    top: 56px;
    left: 50%;
    width: 140px;
    height: 4px;
    background: #3a6cf4;
    transform:translate(-50%);
}
.section-title:after{
    content: "";
    position: absolute;
    top:50px;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #3a6cf4;
    transform: translate(-50%);
}
.about .content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.about .content .col-left{
    position: relative;
    width: 45%;
}
.about .content .col-right{
position: relative;
width: 50%;

}
.about .content .col-left .img-card{
    position: relative;
    width: 100%;
    min-height: 750px;

} 
.about .content .col-left .img-card img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.about .content .col-right .content-title{
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 20px;
    text-align: center;
}

.about .content .col-right .paragrafo-text{
    font-size: 1.2em;
    text-align: justify;
}

.skills{
  
   background: #000;
   
}
.skills .content{
    position: relative;
    width: 100%;
    display: flex;  
    justify-content: space-between;
    color: #fff;
    margin-top: 20px;
}
.skills .content-title{
    font-size: 1.7em;
    text-align: center;
    padding: 20px;
}
.skills .content p{
    font-size: 1.2em;
    text-align: justify;
}
.skills .content .col-left{
    position: relative;
    width: 40%;
}
.skills .content .col-right{
    position: relative;
    width: 40%;
}
.skills .content .col-right .bar{
margin-bottom: 15px;
padding: 10px;
}
.skills .content .col-right .bar .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    }
    .skills .content .col-right .bar .info span{
        font-size: 18px;
        font-weight: 500;
    }
    .skills .content .col-right .bar .line{
        position: relative;
        width: 100%;
        height: 10px;
        background: #ccc;
        border-radius: 5px;
    }
    .skills .content .col-right .bar .line:before{
        content: "";
        position: absolute;
        height: 100%;
        top:0;
        left:0;
        border-radius: 2px;
    }
    .skills .content .col-right .bar .html:before{
        width: 25%;
        background: #ff6347;
    }
    .skills .content .col-right .bar .css:before{
        width: 25%;
        background: #235bf6;
    }  .skills .content .col-right .bar .javascript:before{
        width: 20%;
        background: #e3a324;
    }  .skills .content .col-right .bar .reactjs:before{
        width: 15%;
        background: #30dd6d;
    }

    .services .content{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 20px;
    }
    .title p{
        text-align: center;
        font-size: 1.2em;
        width: 100%;
    }
    .services .content .card{
        background: #fff;
        width: 340px;
        margin: 10px;
        padding: 25px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
        border-radius: 10px;
    }
    .services .content .card .service-icon{
        color: #3a6cf4;
        font-size: 8em;
        text-align: center;
        transition: transform 0.5s ease;
    }
    .services .content .card:hover .service-icon{
    transform: translateY(-10px);
    }
    .services .content .card .info{
        text-align: center;
    }

    .services .content .card .info h3{
        color: #3a6cf4;
        font-size: 1.2em;
        font-weight: 700;
        margin: 10px;
    }
    .work{
        background: #000016;
    }

    .work .content{
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 20px;
    }
    .work .content .card{
        width: 340px;
        margin: 15px;
    }
    .work .content .card .card-img{
        position: relative;   
        width: 100%;
        height: 260px;
        overflow: hidden;
        border-radius: 20px;
    }
    .work .content .card .card-img img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        transition: 0.5s ease;
    }
    .work .content .card .card-img img:hover{
        transform: scale(1.2);
    }
    .contact .content{
      display: flex;  
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: column;
      margin-top: 20px;
    }

    .contact .content .row{
      display: flex;  
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: row;
    }
    .contact .content .row .card{
        background: #fff;
        width: 230px;
        margin: 20px;
        padding: 25px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
        border-radius: 10px;
    }
    .contact .content .row .card .contact-icon{
        color: #3a6cf4;
        font-size: 4em;
        text-align: center;
        transition: transform 0.5s ease;
    }
    .contact .content .row .card:hover .contact-icon{
     transform: translateY(-10px);
    }
    
    .contact .content .row .card .info{
        text-align: center;
    }
    .contact .content .row .card .info h3{
        color: #111;
        font-size: 1.2em;   
        font-weight: 700;
        margin: 10px;
    }
    .contact .content .row .card .info span{
        color: #666;
        font-weight: 500;
    }
    .contact .content .row .card .info span a{
        color: #666;
        font-weight: 500;
        text-decoration: none;
    }
    .contact-form{
        background: #fff;
        max-width: 550px;
        margin-top: 50px;
        padding: 50px;
        border-radius: 10px;
        box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
       
        
    }
    
    .contact-form h3{
        color: #111;
        font-size: 1.6em;
        font-weight: 600;
        text-align: center;
        margin-bottom: 40px;
    }
    .contact-form .input-box{
        position: relative; 
        width: 100%;
        margin-bottom: 20px;
    }
    
    .contact-form .input-box input, .contact-form .input-box textarea{
        color: #111;
        width: 100%;
        padding: 10px;
        font-size: 1em;
        
        font-weight: 400;
        outline: none;
        border: 1px solid #111;
        border-radius: 5px;
    }
    .contact-form .input-box .send-btn{
        color: #fff;
        background: #3a6cf4;
        display: inline-block;
        font-size: 1.1em;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 2px;
        width: 100%;
        border:none;
        cursor: pointer;
        transition: 05 ease;
    }
    .contact-form .input-box .send-btn:hover{
        background: #235bf6;
    }

    footer{
        background: #f1f1f1;
        text-align: center;
        padding: 1em;

    }
    .footer .footer-title{
        font-size: 20px;
        font-weight: 600;
    }
    .footer p{
        font-size: 16px;
        font-weight: 500;
        margin-top: 10px;
    }
    .footer p a{
        color: #3a6cf4;
        font-weight: 600;
        text-decoration: none;
    }
@media(max-width:1040px){
    header{
    padding: 12px 20px;
   }
   header.sticky{
     padding: 10px 20px;
   }

   header .navigation{
       display: none;
   }
   header .navigation.active{
       z-index: 888;
       position: fixed;
       background: #fff;
       top: 0;
       right: 0;
       width: 380px;
       height: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       box-shadow:  0 5px 25px rgba(1 1 1 / 15%);
       transition: 0.3s ease;
   }

   header .navigation a{
       color: #000;
       font-size: 1.2em;
       padding: 0 20px;
       border-radius: 20px;
       margin: 10px;
   }
   header .navigation a:hover{
       color: #fff;
       background: #3a6cf4;
       transition: 0.3s ease;
   }
   .menu-btn{
     
       position: absolute;
       background: url(imgs/btn.png)no-repeat;
       background-size: 30px;
      background-position:center;
       width: 40px;
       height: 40px;
       right: 0;
       margin: 0 20px;
       cursor: pointer;
       transition: 0.3s ease; 
       filter: invert(1);
   }
   .menu-btn.active{
       z-index: 999;
       background: url(imgs/close.png)no-repeat;
       background-size: 30px;
       background-position:center;
        width: 40px;
        height: 40px;
        right: 0;
        margin: 0 20px;
        cursor: pointer;
        transition: 0.3s ease; 
        filter: invert(0);
   }
   
   section{
       padding: 80px 20px;
    }
    .main .content h2{
        font-size: 1em;
    }
    .animated-text h3{
        font-size: 2.2em;
    }
    .section-title{
        font-size: 1.8em ;
    }
    .about .content{
        flex-direction: column;
    }
    .about .content .column{
        position: relative;
        width: 100%;
    }
    .about .content .col-right{
        margin-top: 40px;
    }
    .skills .content{
        flex-direction: column;
    }
    .skills .content .column{
        position: relative;
        width: 100%;
    }
    .skills .content .col-right{
        margin-top: 40px;
    }
    .contact-form{
        padding: 35px 40px;
    }
}
.scrollToTop-btn{
    z-index: 999;
    position: fixed;
    background: #3a6cf4;
    color:#fff;
    width: 45px;
    height: 45px;
    right: 0;
    bottom: 10px;
    font-size: 22px;
    text-align: center;
    line-height: 45px;
    border-radius: 3px;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s ease;
}
.scrollToTop-btn.active{
    right: 20px;
    opacity: 1;
    pointer-events: auto;
}
    /*
.reveal{
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1.5s ease;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
} */

/* Configuração da pagina dois*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior:smooth;
}
.page-two{
width: 500px;
height: 250px;
text-align: center;
background:  rgba(255, 255, 255, 0.1);
margin-top:20%;
margin-left:40%;
padding: 10px 20px;
display: block;
align-items: center;
box-shadow: 0 5px 25px rgba(1 1 1 / 95%);
transition: transform 0.1s ease-in-out;
}
.page-two:hover{
 transform: translateY(-20px);
    
}
.page-two h1{
 font-size: 3em;
}
.page-two a.btn{
    margin-bottom: 15%;
}
